/*csslint ids:false*/

html, body {
  background-color: black;
  display: flex;
  flex-direction:column;
  width: 100%;
  max-height: 100%;
  height: 100%;
  margin: 0 0 0 0;
}

#root {
  display: block;
  position: relative;
  max-height: 100%;
  height: 100%;
  width: auto;
  background-color: black;
  margin: 0 0 0 0;
}

#gameDiv {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  margin: auto;
}

#gameCanvas {
  display: block;
  max-width: 800px;
  max-height: 800px;
  width: 650px;
  height: 650px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}


