/*csslint ids:false*/

html, body {
  background-color: black;
  display: flex;
  flex-direction:column;
  width: 100%;
  max-height: 100%;
  height: 100%;
  margin: 0 0 0 0;
}

#root {
  display: block;
  position: relative;
  max-height: 95%;
  height: 95%;
  width: auto;
  background-color: grey;
  margin: 2% 2% 2% 2%;
  padding: 1px 1px 1px 1px;
}

#gameTitleText {
  color: #2060FF;
  text-align: center;
  font-size: 80px;
  font-family: sans-serif;
}

#gameDiv {
  display: block;
  width: 96%;
  height: auto;
  max-height: ;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: blue;
  margin: auto; /* 34.37% = 100 / (w / h) = 100 / (640 / 220) */
  padding: 2% 2% 2% 2%;
}

#gameCanvas {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


